/Exercicio2/nbproject/private/
/Exercicio3/nbproject/private/
/Exercicio4/nbproject/private/
/Exercicio4/build/
/AppTempo/nbproject/private/
/AppTempo/build/
/JavaApplication11/nbproject/private/
/Exercicio3/build/
/HelloWorld/JavaApplication3/nbproject/private/
/HelloWorld/HelloWorld/nbproject/private/
/HelloWorld/HelloWorld/build/
/HelloWorld/HoraDoSistema/nbproject/private/
/HelloWorld/HoraDoSistema/build/
/ResolucaoDoSistema/nbproject/private/
/ResolucaoDoSistema/build/
/IdiomaDoSistema/nbproject/private/
/IdiomaDoSistema/build/
/HelloWorld/HelloWorldSwing/nbproject/private/
/HelloWorld/HelloWorldSwing/build/
/HelloWorld/HelloWorldSwing/target/
/HelloWorld/JavaFXApplication1/nbproject/private/
/HelloWorld/HelloWorldFX/nbproject/private/
/HelloWorld/HelloWorldFX/dist/
/HelloWorld/HelloWorldFX/build/
/HelloWorld/HelloWorldSwing2/nbproject/private/
/HelloWorld/HelloWorldSwing2/build/
/HelloWorld/HelloWorldSwing2/dist/
/HelloWorld/DataHoraSwing/nbproject/private/
/HelloWorld/DataHoraSwing/build/
/HoraSwing/nbproject/private/
/HoraSwing/build/
/ResolucaoSwing/nbproject/private/
/IdiomaSwing/nbproject/private/
/ResolucaoSwing/build/
/IdiomaSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/ClasseMath/nbproject/private/
/ClasseMath/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/CondicaoSimples/nbproject/private/
/CondicaoSimples/build/
/CondicaoComposta/nbproject/private/
/CondicaoComposta/build/
/CondicoesSwing/nbproject/private/
/CondicoesSwing/build/
/EstruturasCondicionais/nbproject/private/
/EstruturasCondicionais/build/
/VotoSwing/nbproject/private/
/VotoSwing/build/
/CondicaoSwith/nbproject/private/
/CondicaoSwith/build/
