/Exercicio2/nbproject/private/
/Exercicio3/nbproject/private/
/Exercicio4/nbproject/private/
/Exercicio4/build/
/AppTempo/nbproject/private/
/AppTempo/build/
/JavaApplication11/nbproject/private/
/Exercicio3/build/
/HelloWorld/JavaApplication3/nbproject/private/
/HelloWorld/HelloWorld/nbproject/private/
/HelloWorld/HelloWorld/build/
/HelloWorld/HoraDoSistema/nbproject/private/
/HelloWorld/HoraDoSistema/build/
/ResolucaoDoSistema/nbproject/private/
/ResolucaoDoSistema/build/
/IdiomaDoSistema/nbproject/private/
/IdiomaDoSistema/build/
